<ng-container>
    <mat-toolbar>
        <span class="header">WorkoutBuddy</span>
      </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="example-sidenav"
      [fixedInViewport]="true"
    >
      <mat-list>
        <mat-list-item class="listItems">
            <a class="listItems" [routerLink]="['/exercises']"> Exercises </a>
        </mat-list-item>
        <mat-list-item class="listItems">
            <a class="listItems" [routerLink]="['/splits']"> Splits </a>
        </mat-list-item>
        <mat-list-item class="listItems">
            <a class="listItems" [routerLink]="['/pending-exercises']"> Pending Exercises </a>
          </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
